  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="http://iconbug.com/data/5e/128/0058ee991809105c510ea3bfbc923ce7.png" alt="CheeseBored">
        &nbsp;
        CheeseBored
      </a>
      <div class="navbar-burger" data-target="#mobile-menu">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div id="mobile-menu" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="/cheeses">All Cheeses</a>
        <% if(!locals.isAuthenticated) { %>
          <a class="navbar-item" href="/register">Register</a>
          <a class="navbar-item" href="/login">Login</a>
        <% } else { %>
          <a class="navbar-item" href="/cheeses/new">New Cheese</a>
          <a class="navbar-item" href="/users/<%= locals.currentUser.id %>">Your Profile</a>
          <a class="navbar-item" href="/logout">Logout</a>
        <% } %>
      </div>
    </div>
  </nav>
